
.cont_submit {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 1em;
}

/*botão de criar conta*/
.btnCriaConta {
    width: 100%;
    padding: 0.75rem;
    background-color: #f0716f;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}


/* Usado no botão de cadastro (não usado diretamente no JSX atual) */
.btnCriaConta:hover {
    background-color: #d3bdbc;
}