/* Usado no form principal */
.formCadastro {
    height: 100vh; /* altura da tela */
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    position: relative;
    z-index: 2; 
   
}

/* Usado no título "Cadastre-se" */
.titulo {
    
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

/* Usado no subtítulo abaixo do título principal */
.subtitulo {
    font-size: 12px;
    color: #666;
    margin-bottom: 5px;
    margin-top: 5px;
}
.subtituloAcesso {
    margin-top: 1rem;
    
}
/* Usado nos blocos que agrupam dois inputs lado a lado */
.formRow {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}

/* Aplica estilo igualitário aos filhos do formRow */
.formRow > div {
    flex: 1;
}

/* Usado nos blocos das senhas */
.formGroupPassword {
    margin-top: 1rem;
}

/* Usado para posicionar input de senha e o ícone de mostrar/ocultar */
.passwordWrapper {
    position: relative;
}

/* Usado no contêiner do Dropdown de forma de pagamento */
.selectItem {
    margin-top: 1rem;
    position: relative;
}

/* Usado no componente Dropdown */
.dropdown {
    width: 100%;
    z-index: 1;
    position: relative;
    border: 1px solid #000000;
    
}

/* Usado para o label "Preferência de pagamento" */
.labelPagamento {
    position: absolute;
    top: -0.6rem;
    left: 8px;
    background-color: white;
    padding: 0 0.25rem;
    font-size: 0.85rem;
    color: #000000;
    z-index: 2;
}

/* Usado para o ícone de mostrar/ocultar senha */
.vizuSenha {
    display: flex;
    text-align: center;
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.1rem;
    user-select: none;
}
.iconVizu{
    color: #666;
}
/* Usado no contêiner do checkbox "aceitarTermos" */
.checkboxContainer {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    font-size: 0.875rem;
    margin-top: 1em;
}

/* Usado no texto ao lado do checkbox */
.checkboxContainer label {
    line-height: 1.4;
}

/* Usado nos links de "Termos" e "Políticas de Privacidade" */
.termo {
    color: #f0716f;
}



/* Usado na mensagem de já ter conta "Já possui uma conta?" */
.loginLink {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 1em;
}

/* Usado nos links dentro do loginLink */
.loginLink a {
    color: #f0716f;
    text-decoration: none;
    font-weight: 500;
}




/* Estilos responsivos para telas menores */
@media (max-width: 768px) {
    /* Responsivo para o formulário principal */
    .formCadastro {
        margin: 0 auto;
        padding-top: 0;
    }

    /* Reduz a largura das linhas da divider */
    .divider::before,
    .divider::after {
        top: 50%;
        width: 30%;
    }
}
