/* Usado no form principal */
.formCadastro {
    height: 100vh; /* altura da tela */
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    position: relative;
    z-index: 2; 
   
}

/* Usado no título "Cadastre-se" */
.titulo {
    font-size: 2rem;
    margin-bottom: 0.7rem;
    margin-top: 1rem;
}

/* Usado no subtítulo abaixo do título principal */
.subtitulo {
    font-size: 12px;
    color: #666;
    margin-bottom: 5px;
    margin-top: 5px;
}
.subtituloAcesso {
    margin-top: 1rem;
}
/* Usado nos blocos que agrupam dois inputs lado a lado */
.formRow {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}

/* Aplica estilo igualitário aos filhos do formRow */
.formRow > div {
    flex: 1;
}

/* Usado nos blocos das senhas */
.formGroupPassword {
    margin-top: 1rem;
}

/* Usado para posicionar input de senha e o ícone de mostrar/ocultar */
.passwordWrapper {
    position: relative;
}

/* Usado no contêiner do Dropdown de forma de pagamento */
.selectItem {
    margin-top: 1rem;
    position: relative;
}

/* Usado no componente Dropdown */
.dropdown {
    width: 100%;
    z-index: 1;
    position: relative;
    border: 1px solid #79747E;
}

/* Usado para o label "Preferência de pagamento" */
.labelPagamento {
    position: absolute;
    top: -0.6rem;
    left: 8px;
    background-color: white;
    padding: 0 0.25rem;
    font-size: 0.85rem;
    color: #000000;
    z-index: 2;
}

/* Usado para o ícone de mostrar/ocultar senha */
.vizuSenha {
    display: flex;
    text-align: center;
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.1rem;
    user-select: none;
}
.iconVizu{
    color: #666;
}
/* Usado no contêiner do checkbox "aceitarTermos" */
.checkboxContainer {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    font-size: 0.875rem;
    margin-top: 1em;
}

/* Usado no texto ao lado do checkbox */
.checkboxContainer label {
    line-height: 1.4;
}

/* Usado nos links de "Termos" e "Políticas de Privacidade" */
.termo {
    color: #f0716f;
}



/* Usado na mensagem de já ter conta "Já possui uma conta?" */
.loginLink {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 1em;
}

/* Usado nos links dentro do loginLink */
.loginClick {
    color: #f0716f;
    font-weight: 500;
    margin-left: 5px;
    cursor: pointer;
    font: bold;
}




/* Estilos responsivos para telas menores */
@media (max-width: 768px) {
    .formCadastro {
        height: auto;
        padding: 1rem;
        height:auto;
        padding-top: 0;
    }

    .titulo {
        font-size: 1.5rem;
        margin-top: auto;
        margin-bottom: auto;
        height: 26px;
        
    }

    .subtitulo{
        font-size: 10px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .subtituloAcesso {
        font-size: 12px;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .formRow {
        gap: 0.5rem;
        margin-top: 0.80rem;
    }

    .formGroupPassword {
        margin-top: 0.80rem;
    }

    .selectItem {
        margin-top: 0.65rem;
    }

    .dropdown {
        font-size: 0.85rem;
        padding: 0.25rem;
    }

    .labelPagamento {
        font-size: 0.65rem;
        top: -0.5rem;
        left: 6px;
        padding: 0 0.2rem;
    }

    .vizuSenha {
        font-size: 1rem;
        right: 0.5rem;
    }

    .checkboxContainer {
        font-size: 0.75rem;
        gap: 0.4rem;
        margin-top: 0.60rem;
    }
    .checkboxContainer .concordoTermo{
        font-size: 0.70rem;
        line-height: 1.8;
    }
   
    
    .loginLink {
        font-size: 0.8rem;
        margin-top: 0.60rem;
        margin-bottom: auto;
    }

   
    .inputInfoBasicas, .inputSenha{
        padding: 0.3rem 0.45rem;
        font-size: 0.7rem;
       
    }
    .dropdown{
        height: 29px;
    }
    .p-dropdown-items-wrapper {
        background-color: #a66363;
    }
    .p-dropdown-item:hover {
        background-color: #ddd;
    }
     /*.p-dropdown .p-dropdown-label estilizada globalmente em cadProduto */

}
