
.input_container {
    position: relative;

}
/* css é referente a label dos inputs*/
.input_container label {
    position: absolute;
    top: -0.6rem;
    left: 8px;
    background-color: white;
    padding: 0 0.25rem;
    font-size: 0.80rem;
    color: black;
}
/* Este css é referente ao nome, sobrenome, emial e telefone */
.inputInfoBasicas, .inputSenha {
    background-color: white;
    color: black;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #79747E;
    border-radius: 3px;
    font-size: 0.8rem;
    box-sizing: border-box; 
}


.inputInfoBasicas:-webkit-autofill,
.inputSenha:-webkit-autofill,
.inputSenha:-webkit-autofill:hover, 
.inputSenha:-webkit-autofill:focus,
.inputSenha:-webkit-autofill:active,
.inputInfoBasicas:-webkit-autofill:hover,
.inputInfoBasicas:-webkit-autofill:focus,
.inputInfoBasicas:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    transition: background-color 5000s ease-in-out 0s;
}


@media (max-width: 768px) {
    .inputInfoBasicas, .inputSenha {
        padding: 0.45rem 0.5rem;
        font-size: 0.7rem;
    }

    .input_container label {
        font-size: 0.65rem;
    }
    .inputInfoBasicas:-webkit-autofill,
    .inputSenha:-webkit-autofill,
    .inputSenha:-webkit-autofill:hover, 
    .inputSenha:-webkit-autofill:focus,
    .inputSenha:-webkit-autofill:active,
    .inputInfoBasicas:-webkit-autofill:hover,
    .inputInfoBasicas:-webkit-autofill:focus,
    .inputInfoBasicas:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0px 1000px white inset !important;
        transition: background-color 5000s ease-in-out 0s;
    }
   
}