.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
    padding: 5px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: transform 0.2s ease;
    width: 5vw;
    height: 4.5vw;
    border: 2px solid #ccc;
}

.option:hover {
    transform: translateY(-4px);
}

.avatar {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.avatarNome {
    font-weight: 600;
    color: #333;
    font-size: 0.6vw;
}
