.formCadastro{
    margin: 2rem auto 0 auto;
    padding: 2rem;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    
}

.titulo{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.subtitulo{
    font-size: 12px;
    color: #666;
    margin-bottom: 2rem;
}

.formRow{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;

}

.formRow > div {
    flex: 1;
}

.formGroupPassword{
    margin-bottom: 1rem;
}

.passwordWrapper{
    position: relative;
}


.toggleVisibility{
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.1rem;
    user-select: none;

}

.checkboxContainer{
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    font-size: 0.875rem;
    margin-bottom: 1em;
}

.checkboxContainer label{
    line-height: 1.4;
}
.termo{
    color: #f0716f;
}


.botaoCadastrar:hover{
    background-color: #e04b3c;
}

.loginLink{
    text-align: center;
    font-size: 0.9rem;
    margin-top: 1em;
}

.loginLink a{
    color: #f0716f;
    text-decoration: none;
    font-weight: 500;
}

.divider {
    text-align: center;
    margin: 1em 0 1em;
    font-size: 0.85rem;
    color: #999;
    position: relative;
}

.divider::before,
.divider::after {
    content: "";
    height: 1px;
    background: #ddd;
    position: absolute;
    top: 50%;
    width: 35%;
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

.googleLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.6rem;
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.googleLogin:hover {
    background-color: #f5f5f5;
}

.googleLogin img {
    height: 20px;
}


@media (max-width: 768px) {
    .formCadastro{
        margin: 0 auto;
        padding-top: 0;
    
    }

    .divider::before,
    .divider::after {
        top: 50%;
        width: 30%;
    }
}