.nav_logo{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: white;
    z-index: 1;
    font-family: 'Inter', sans-serif;
}
.LogoUnifood{
    color: #000000;
    font-weight: bold;
    font-size: 2em;
}
.food{
    color: #d63432;
}
@media (max-width: 768px) {
    .nav_logo {
      position: static;
      width: 100%;
      text-align: center;
      background-color: white;
      padding-bottom: 0;
    }
  }
  